@import "tailwindcss";

.btn {
  @apply bg-slate-800 text-white px-4 py-2 rounded-md font-semibold  transition;
}

h2{
  @apply text-2xl font-bold my-4
}
p.content{
  @apply leading-loose
}
.link{
  @apply text-[#7563df]
}

input , textarea {
  @apply py-2 px-4 border border-blue-950 rounded-md
}